* {
  box-sizing: border-box;
}

body {
  background-color: #1C1E22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 30px;
  padding:  10px 15x;
  margin: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: 20px;
}

/* .timer-container h2 {
  margin: -50px 20px 20px;
} */

.actions-wrapper span {
  font-size: 40px;
  margin: 0px 10px;
}

.clock-container {
  border:  2px solid white;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 100px;
  margin-top: 20px;
  width: 360px;
}

.clock-container h1 {
  margin: 0px;
}

.clock-container span {
  font-size: 60px;
}