* {
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue';
  background-color: #1c1e22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 15x;
  margin: 10px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
  margin: 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: 20px;
}

.actions-wrapper span {
  font-size: 45px;
  margin: -1px 0px 0px 0px;
  width: 80px;
}

.clock-container {
  border: 2px solid white;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 100px;
  width: 450px;
}

.clock-internal {
  height: 180px;
}

.clock-container h1 {
  margin: 0px;
}

.clock-container span {
  font-size: 60px;
}

.number {
  font-family: 'Orbitron', sans-serif;
}

.squiggly {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
  animation: squiggly-anim 0.34s linear infinite;
}

@-webkit-keyframes squiggly-anim {
  0% {
    filter: url('#squiggly-0');
  }
  25% {
    filter: url('#squiggly-1');
  }
  50% {
    filter: url('#squiggly-2');
  }
  75% {
    filter: url('#squiggly-3');
  }
  100% {
    filter: url('#squiggly-4');
  }
}
@keyframes squiggly-anim {
  0% {
    filter: url('#squiggly-0');
  }
  25% {
    filter: url('#squiggly-1');
  }
  50% {
    filter: url('#squiggly-2');
  }
  75% {
    filter: url('#squiggly-3');
  }
  100% {
    filter: url('#squiggly-4');
  }
}
